:root {
    --chat-openai-primary: #2d5cd4;
}

body,
html {
    background: black !important;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100>div {
    display: none !important;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100>h1 {
    text-align: center;
    position: relative;
    margin-top: 35vh;
    width: 230px;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    background: #333;
    padding: 5px 0;
    color: black;
    border-radius: 8px;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100>h1:before {
    content: "Secretive Editon Amoled";
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 300;
    color: #444;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.text-gray-800.w-full.md\:max-w-2xl.lg\:max-w-3xl.md\:h-full.md\:flex.md\:flex-col.px-6.dark\:text-gray-100>h1:after {
    content: "Insiders build 923GD3X";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 300;
    color: #444;
}

.dark\:bg-gray-800 {
    background: black !important;
    color: #eee !important;
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient>div {
    display: none;
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient {
    padding: 5px;
    background: black;
    margin-bottom: 8px;
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient,
#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient>form {
    padding: 0;
    margin: 0 auto;
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient>form>div>div.flex.flex-col.w-full.py-2.pl-3.md\:py-3.md\:pl-4.relative.border.border-black\/10.bg-white.dark\:border-gray-900\/50.dark\:text-white.dark\:bg-gray-700.rounded-md.shadow-\[0_0_10px_rgba\(0\,0\,0\,0\.10\)\].dark\:shadow-\[0_0_15px_rgba\(0\,0\,0\,0\.10\)\] {
    border-top: 1px solid #222;
    border-radius: 0 !important;
    padding: 20px;
    box-shadow: none !important;
    border-inline: 1px solid black;
    background: black;
}

@media(min-width: 1000px) {
    #__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient>form>div>div.flex.flex-col.w-full.py-2.pl-3.md\:py-3.md\:pl-4.relative.border.border-black\/10.bg-white.dark\:border-gray-900\/50.dark\:text-white.dark\:bg-gray-700.rounded-md.shadow-\[0_0_10px_rgba\(0\,0\,0\,0\.10\)\].dark\:shadow-\[0_0_15px_rgba\(0\,0\,0\,0\.10\)\] {
        border: 1px solid #222;
        border-radius: 12px !important;
        margin-bottom: 20px;
    }
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient {
    background: transparent;
}

#__next>div>div>main>div.absolute.bottom-0.left-0.w-full.dark\:border-transparent.bg-vert-light-gradient.dark\:bg-vert-dark-gradient>form>div>div.flex.flex-col.w-full.py-2.pl-3.md\:py-3.md\:pl-4.relative.border.border-black\/10.bg-white.dark\:border-gray-900\/50.dark\:text-white.dark\:bg-gray-700.rounded-md.shadow-\[0_0_10px_rgba\(0\,0\,0\,0\.10\)\].dark\:shadow-\[0_0_15px_rgba\(0\,0\,0\,0\.10\)\]>button {
    top: 13px;
    bottom: 0;
    right: 15px;
    background: #395bcd;
    color: white;
    border-radius: 99999px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .dark\:bg-\[\#444654\] {
    background: #111 !important;
}

nav.flex.h-full.flex-1.flex-col.space-y-1.p-2 {
    background: black;
    padding: 20px;
    border-right: 1px solid #222;
    min-width: 280px;
}

a.flex.py-3.px-3.items-center.gap-3.rounded-md.text-sm.mb-2.flex-shrink-0.border {
    background: var(--chat-openai-primary);
    border: none;
    margin-top: 70px;
    position: relative;
}

a.flex.py-3.px-3.items-center.gap-3.rounded-md.text-sm.mb-2.flex-shrink-0.border:before {
    content: "Chat GPT";
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #222;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    line-height: 1;
}

a.flex.py-3.px-3.items-center.gap-3.rounded-md.text-sm.mb-2.flex-shrink-0.border:after {
    content: "By Open AI";
    position: absolute;
    top: -50px;
    left: 150px;
    right: 0;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    line-height: 1;
}

div.fixed.inset-0.bg-gray-600.bg-opacity-75.opacity-100 {
    background: #395bcd1a;
    backdrop-filter: blur(10px);
}

.btn-primary {
    background-color: var(--chat-openai-primary) !important
}

button:focus {
    outline: 0px solid #000 !important;
}

button.btn.flex.justify-center.gap-2.btn-neutral {
    background: #00000022;
    border: 1px solid #333;
    color: #999;
    backdrop-filter: blur(10px);
}

*:focus {
    box-shadow: none !important;
}

textarea {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='230px'><text font-family='Arial, Helvetica, sans-serif' x='0' y='18' fill='white' opacity='0.2' font-size='18'>Type new message here...</text></svg>");
    background-repeat: no-repeat;
}

textarea:focus {
    background-image: none;
}

div.sticky.top-0.z-10.flex.items-center.border-b.bg-white.pl-1.pt-1 {
    padding: 10px;
    border-bottom: 1px solid #222;
}

::-webkit-scrollbar {
    width: 0 !important;
}

nav>a:nth-child(3) {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .bg-black>.p-4 {
        display: block;
        width: 90vw !important;
        overflow-y: scroll;
    }

    .bg-black>.p-4>code {
        display: block;
        width: max-content;
        font-size: 10px;
    }

    .bg-black>.p-4>code>span {
        white-space: nowrap !important;
    }

    .bg-black>.p-4::-webkit-scrollbar {
        display: none;
    }

    #__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800>div>div.relative.flex.w-full.flex-col.lg\:w-\[calc\(100\%-115px\)\]>div.text-gray-400.flex.self-end.lg\:self-center.justify-center.mt-2.gap-4.lg\:gap-1.lg\:absolute.lg\:top-0.lg\:translate-x-full.lg\:right-0.lg\:mt-0.lg\:pl-2 {
        display: none;
    }

    #__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800 {
        border-left: 3px solid var(--chat-openai-primary);
        padding-top: 40px !important;
    }

    #__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800:before {
        top: 25px !important;
    }
}

.flex.flex-col.relative.items-end {
    display: none;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800 {
    padding-top: 50px;
    position: relative;
    max-width: 800px;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800:before {
    content: "Q. Asked";
    font-size: 12px;
    background: var(--chat-openai-primary);
    position: absolute;
    top: 40px;
    left: 15px;
    color: white;
    padding: 0 10px;
    border-radius: 99999px;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.dark\:bg-gray-800>div>div.relative.flex.w-full.flex-col.lg\:w-\[calc\(100\%-115px\)\]>div.flex.flex-col.gap-3>div {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

div.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans {
    padding: 5px 20px;
    font-size: 10px;
    background: #222;
}

.bg-black>.flex>.flex>svg.h-4.w-4 {
    width: 12px;
}

#__next>div>div>main>div.flex-1.overflow-hidden>div>div>div>div.w-full.border-b.border-black\/10.dark\:border-gray-900\/50.text-gray-800.dark\:text-gray-100.group.bg-gray-50.dark\:bg-\[\#444654\]>div>div.relative.flex.w-full.flex-col.lg\:w-\[calc\(100\%-115px\)\] {
    word-break: break-word;
}
